<div class="project-card glass-card" data-aos="fade-up" data-aos-once="true">
  <div class="project-layout">
    <div class="project-image" data-aos="fade-right" data-aos-delay="200" data-aos-once="true">
      <div class="image-wrapper">
        <ng-content select=".projectsRowImg"></ng-content>
        <div class="image-overlay"></div>
      </div>
    </div>
    <div class="project-info">
      <span class="project-label">Featured Project</span>
      <ng-content select=".projectsRowContentTitle"></ng-content>
      <div class="project-desc-card">
        <ng-content select=".projectsRowContentDesc"></ng-content>
      </div>
      <div class="project-tools">
        <ng-content select=".tools"></ng-content>
      </div>
      <div class="project-links">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
