<div class="sidebarContainer">
  <app-topbar (sidenavToggle)="drawer.toggle()" Responsive></app-topbar>
  <mat-drawer-container class="drawerContainer" hasBackdrop="true">
    <mat-drawer class="mobileDrawer" #drawer mode="over" position="end">
      <div class="drawerInfo">
        <nav class="fullscreen-nav">
          <ul (click)="toggle()">
            <li>
              <span class="nav-num">01</span>
              <a href="#home">Home</a>
            </li>
            <li>
              <span class="nav-num">02</span>
              <a href="#about">About</a>
            </li>
            <li>
              <span class="nav-num">03</span>
              <a href="#projects">Projects</a>
            </li>
            <li>
              <span class="nav-num">04</span>
              <a href="#contact">Contact</a>
            </li>
            <li *ngIf="isLogin()"><span class="nav-num">05</span><a routerLink="/dashboard">Dashboard</a></li>
            <li *ngIf="!isLogin()"><span class="nav-num">05</span><a routerLink="/login">Login</a></li>
            <li *ngIf="isLogin()"><span class="nav-num">06</span><a routerLink="/login" (click)="logout();">Logout</a></li>
          </ul>
        </nav>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div id="home">
        <app-home Responsive></app-home>
      </div>
      <div id="about">
        <app-about Responsive></app-about>
      </div>
      <div id="resume">
        <app-resume Responsive></app-resume>
      </div>
      <div id="projects">
        <app-projects Responsive></app-projects>
      </div>
      <div id="contact">
        <app-contact Responsive></app-contact>
      </div>
      <app-footer Responsive></app-footer>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
