<section class="resume-section">
  <div class="resume-container">
    <a href="assets/resume/resume.pdf" target="_blank" class="resume-link cursor-hover-target"
      (mouseover)="toggleHover()" (mouseout)="toggleHover()">
      <div class="resume-content">
        <div class="resume-icon">
          <i class="bx bx-file" *ngIf="!isHovered"></i>
          <i class="bx bx-download" *ngIf="isHovered"></i>
        </div>
        <span class="resume-text">
          {{ isHovered ? 'Download Resume' : 'View my full Resume' }}
        </span>
        <div class="resume-arrow">
          <i class="bx bx-right-arrow-alt"></i>
        </div>
      </div>
    </a>
  </div>
</section>
